/* ===== Scrollbar CSS ===== */
/* Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #d7d7d7;
}

/* Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #202124;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f4245;
  height: 50px;
  border-radius: 10px;
}
